@{
    ViewBag.Title = "Google Map Javascript API v3";
}

<h2>@ViewBag.Title</h2>

<style type="text/css">
    html {
        height: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #map_canvas {
        height: 100%;
    }
</style>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=&sensor=false"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    var myLatlng;
    var mapOptions;
    var mapdiv;
    var map;
    var geocoder;

    $(function () {
        myLatlng = new google.maps.LatLng(25.042192, 121.565274);
        mapOptions = {
            center: myLatlng,
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        mapdiv = document.getElementById("map_canvas");
        map = new google.maps.Map(mapdiv, mapOptions);
        geocoder = new google.maps.Geocoder();

        var useragent = navigator.userAgent; //判斷是否為行動裝置
        if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1) {
            mapdiv.style.width = '100%';
            mapdiv.style.height = '100%';
        } else {
            mapdiv.style.width = '100%';
            mapdiv.style.height = '400px';
        }

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'marker1',
            icon: new google.maps.MarkerImage('../Images/comms-blue.jpg')
        });
        attachDialog(marker, map);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(25.043192, 121.555274),
            map: map,
            title: 'marker2',
            icon: new google.maps.MarkerImage('../Images/comms-blue.jpg')
        });
        attachDialog(marker, map);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(25.032192, 121.545274),
            map: map,
            title: 'marker3',
            icon: new google.maps.MarkerImage('../Images/comms-blue.jpg')
        });
        attachDialog(marker, map);

        var bounds = new google.maps.LatLngBounds();
        bounds.extend(new google.maps.LatLng(25.042192, 121.565274));
        bounds.extend(new google.maps.LatLng(25.043192, 121.555274));
        bounds.extend(new google.maps.LatLng(25.032192, 121.545274));
        map.fitBounds(bounds);
    });

    function attachDialog(marker, map) { //在地圖標記(marker)上附加客製化視窗
        var markercontent = '<div>';
        markercontent += '<h4>KYMCO Motorcycle</h4>';
        markercontent += '<span>台北市信義區基隆路一段159號7F</span><br/>';
        markercontent += '<span>+886 2 2767-1284</span><br/>';
        markercontent += '<span><a href="http://tw.yahoo.com">tw.yahoo.com</a></span><br/>';
        markercontent += '<button>Dev.</button><button>Sal. His</button><button>Parts</button><button>Claim</button>';
        markercontent += '<button onclick="window.open(\'http://www.google.com\');return false;">Google</button>';
        markercontent += '</div>';
        var infowindow = new google.maps.InfoWindow({
            content: markercontent,
            size: new google.maps.Size(300, 200)
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });
    }

    function codeAddress() { //用地址定位
        var address = $('#address').val();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                $('#position').text('{' + results[0].geometry.location.lat() + ',' + results[0].geometry.location.lng() + '}');
                var marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    title: address
                });
                map.setCenter(results[0].geometry.location);
                map.fitBounds(results[0].geometry.location);
            } else {
                alert('地理編碼服務(Geocoding Service)失敗, 失敗原因: ' + status);
            }
        });
    }

    function currentPosition() { //取得目前位置
        if (navigator.geolocation) {
            browserSupportFlag = true;
            navigator.geolocation.getCurrentPosition(function (position) {
                var initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                map.setCenter(initialLocation);
                var marker = new google.maps.Marker({
                    position: initialLocation,
                    map: map,
                    title: '目前位置',
                });
            }, function () {
                if (browserSupportFlag == true) {
                    alert("地圖定位失敗");
                } else {
                    alert("您的瀏覽器不支援定位服務");
                }
            });
        }
    }
</script>
<input id="address" type="text" value="台北市八德路三段">
<label id="position"></label>
<input type="button" value="查詢" onclick="codeAddress();">
<input type="button" value="目前位置" onclick="currentPosition();">
<div id="map_canvas" style="width:100%; height:100%"></div>