@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>@Html.ActionLink("LinqToObject", "Index", "LinqToObject")</h5>
        用Linq統計結果, 並將結果存回物件, 不需要再用迴圈處理
    </li>
    <li class="two">
        <h5>@Html.ActionLink("GoogleMapJavascriptAPIv3", "Index", "GoogleMap")</h5>
        Google Maps JavaScript API v3
        Customize MapMarker & Geocoding Service & CurrentPosition
    </li>
</ol>
